.slidev-layout {
    display: grid;
    position: relative;
    font-size: larger;
    place-content: center;
}

.slidev-layout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://media.newyorker.com/photos/5d701d7c9e4fc500085d1f29/master/w_1600,c_limit/Russell-BulletJournal.jpg');
    background-size: cover;
    background-position: center;
    filter: invert(.4);
    z-index: -1;
}

h1 {
    text-align: left;
    background-color: papayawhip;
    padding: 15px;
    border-radius: 5px 10px 30px;
}

body {
    color: rgb(9, 253, 147);
}

.textbox {
    background-color: peachpuff;
    padding: 15px;
    border-radius: 5px 10px 30px;
    color: green;
}